In [26]:
using Pkg;

Pkg.add("ODBC");
Pkg.add("DataFrames");

using ODBC;
using DataFrames;

  Updating registry at `C:\Users\atend\.julia\registries\General`
  Updating git-repo `https://github.com/JuliaRegistries/General.git`
[1mFetching: [========================================>]  100.0 %.0 % Resolving package versions...
  Updating `C:\Users\atend\.julia\environments\v1.3\Project.toml`
 [no changes]
  Updating `C:\Users\atend\.julia\environments\v1.3\Manifest.toml`
 [no changes]
 Resolving package versions...
  Updating `C:\Users\atend\.julia\environments\v1.3\Project.toml`
 [no changes]
  Updating `C:\Users\atend\.julia\environments\v1.3\Manifest.toml`
 [no changes]

In [28]:
open("FileCredentials.txt", "w") do io
           write(io, "SQLSERVER\n")
           write(io, "logon\n")
           write(io, "11111111\n")
           end;

In [43]:
login = readlines("FileCredentials.txt")
credenciais = ODBC.DSN(login[1],
                       login[2],
                       login[3]);

In [44]:
consulta = ODBC.query(credenciais,
                      "SELECT 
                           FirstName+' '+LastName AS Nome,
                           BirthDate,
                           MaritalStatus,
                           Education,
                           TotalChildren 
                       FROM [dbo].[DimCustomer]"
                     ) |> DataFrame!


first(consulta,10)

10×5 DataFrame. Omitted printing of 1 columns
│ Row │ Nome              │ BirthDate  │ MaritalStatus │ Education │
│     │ String⍰           │ ODBC…⍰     │ String⍰       │ String⍰   │
├─────┼───────────────────┼────────────┼───────────────┼───────────┤
│ 1   │ Julia Yang        │ 1966-04-08 │ M             │ Bachelors │
│ 2   │ Eugene Huang      │ 1965-05-14 │ S             │ Bachelors │
│ 3   │ Ruben Torres      │ 1965-08-12 │ M             │ Bachelors │
│ 4   │ Christy Zhu       │ 1968-02-15 │ S             │ Bachelors │
│ 5   │ Elizabeth Johnson │ 1968-08-08 │ S             │ Bachelors │
│ 6   │ Julio Ruiz        │ 1965-08-05 │ S             │ Bachelors │
│ 7   │ Janet Alvarez     │ 1965-12-06 │ S             │ Bachelors │
│ 8   │ Marco Mehta       │ 1964-05-09 │ M             │ Bachelors │
│ 9   │ Rob Verhoff       │ 1964-07-07 │ S             │ Bachelors │
│ 10  │ Shannon Carlson   │ 1964-04-01 │ S             │ Bachelors │

# executando UPDATE

In [31]:
ODBC.execute!(credenciais, "UPDATE [dbo].[DimCustomer] 
                            set FirstName ='Julia' 
                            WHERE FirstName = 'RM@@@@@@@@@@@@@'")

select = ODBC.query(credenciais,
                      "SELECT 
                           FirstName+' '+LastName AS Nome,
                           BirthDate,
                           MaritalStatus,
                           Education,
                           TotalChildren 
                       FROM [dbo].[DimCustomer]"
                    ) |> DataFrame!


first(select , 10)

10×5 DataFrame. Omitted printing of 1 columns
│ Row │ Nome              │ BirthDate  │ MaritalStatus │ Education │
│     │ String⍰           │ ODBC…⍰     │ String⍰       │ String⍰   │
├─────┼───────────────────┼────────────┼───────────────┼───────────┤
│ 1   │ Julia Yang        │ 1966-04-08 │ M             │ Bachelors │
│ 2   │ Eugene Huang      │ 1965-05-14 │ S             │ Bachelors │
│ 3   │ Ruben Torres      │ 1965-08-12 │ M             │ Bachelors │
│ 4   │ Christy Zhu       │ 1968-02-15 │ S             │ Bachelors │
│ 5   │ Elizabeth Johnson │ 1968-08-08 │ S             │ Bachelors │
│ 6   │ Julio Ruiz        │ 1965-08-05 │ S             │ Bachelors │
│ 7   │ Janet Alvarez     │ 1965-12-06 │ S             │ Bachelors │
│ 8   │ Marco Mehta       │ 1964-05-09 │ M             │ Bachelors │
│ 9   │ Rob Verhoff       │ 1964-07-07 │ S             │ Bachelors │
│ 10  │ Shannon Carlson   │ 1964-04-01 │ S             │ Bachelors │

# Clonar Tabela

In [36]:
ODBC.execute!(credenciais, "select * INTO NovaTabela 
                            FROM [dbo].[DimCustomer]")

select = ODBC.query(credenciais,
                      "SELECT 
                           FirstName+' '+LastName AS Nome,
                           BirthDate,
                           MaritalStatus,
                           Education,
                           TotalChildren 
                       FROM [dbo].[NovaTabela]"
                    ) |> DataFrame!


first(select , 10)

10×5 DataFrame. Omitted printing of 1 columns
│ Row │ Nome              │ BirthDate  │ MaritalStatus │ Education │
│     │ String⍰           │ ODBC…⍰     │ String⍰       │ String⍰   │
├─────┼───────────────────┼────────────┼───────────────┼───────────┤
│ 1   │ Julia Yang        │ 1966-04-08 │ M             │ Bachelors │
│ 2   │ Eugene Huang      │ 1965-05-14 │ S             │ Bachelors │
│ 3   │ Ruben Torres      │ 1965-08-12 │ M             │ Bachelors │
│ 4   │ Christy Zhu       │ 1968-02-15 │ S             │ Bachelors │
│ 5   │ Elizabeth Johnson │ 1968-08-08 │ S             │ Bachelors │
│ 6   │ Julio Ruiz        │ 1965-08-05 │ S             │ Bachelors │
│ 7   │ Janet Alvarez     │ 1965-12-06 │ S             │ Bachelors │
│ 8   │ Marco Mehta       │ 1964-05-09 │ M             │ Bachelors │
│ 9   │ Rob Verhoff       │ 1964-07-07 │ S             │ Bachelors │
│ 10  │ Shannon Carlson   │ 1964-04-01 │ S             │ Bachelors │

# DELETE

In [38]:
ODBC.execute!(credenciais, "DELETE FROM [dbo].[NovaTabela] 
                            WHERE FirstName = 'Julia' ")

select = ODBC.query(credenciais,
                      "SELECT 
                           FirstName+' '+LastName AS Nome,
                           BirthDate,
                           MaritalStatus,
                           Education,
                           TotalChildren 
                       FROM [dbo].[NovaTabela]"
                    ) |> DataFrame!

first(select, 10)

10×5 DataFrame. Omitted printing of 1 columns
│ Row │ Nome              │ BirthDate  │ MaritalStatus │ Education │
│     │ String⍰           │ ODBC…⍰     │ String⍰       │ String⍰   │
├─────┼───────────────────┼────────────┼───────────────┼───────────┤
│ 1   │ Eugene Huang      │ 1965-05-14 │ S             │ Bachelors │
│ 2   │ Ruben Torres      │ 1965-08-12 │ M             │ Bachelors │
│ 3   │ Christy Zhu       │ 1968-02-15 │ S             │ Bachelors │
│ 4   │ Elizabeth Johnson │ 1968-08-08 │ S             │ Bachelors │
│ 5   │ Julio Ruiz        │ 1965-08-05 │ S             │ Bachelors │
│ 6   │ Janet Alvarez     │ 1965-12-06 │ S             │ Bachelors │
│ 7   │ Marco Mehta       │ 1964-05-09 │ M             │ Bachelors │
│ 8   │ Rob Verhoff       │ 1964-07-07 │ S             │ Bachelors │
│ 9   │ Shannon Carlson   │ 1964-04-01 │ S             │ Bachelors │
│ 10  │ Jacquelyn Suarez  │ 1964-02-06 │ S             │ Bachelors │

In [39]:
select = ODBC.query(credenciais,
                      "SELECT 
                           name AS Tables 
                       FROM SYSOBJECTS WHERE XTYPE='U' ORDER BY name"
                   ) |> DataFrame!

28×1 DataFrame
│ Row │ Tables           │
│     │ String⍰          │
├─────┼──────────────────┤
│ 1   │ DimAccount       │
│ 2   │ DimChannel       │
│ 3   │ DimCurrency      │
│ 4   │ DimCustomer      │
│ 5   │ DimDate          │
│ 6   │ DimEmployee      │
│ 7   │ DimEntity        │
│ 8   │ DimGeography     │
│ 9   │ DimMachine       │
│ 10  │ DimOutage        │
⋮
│ 18  │ FactExchangeRate │
│ 19  │ FactInventory    │
│ 20  │ FactITMachine    │
│ 21  │ FactITSLA        │
│ 22  │ FactOnlineSales  │
│ 23  │ FactSales        │
│ 24  │ FactSalesQuota   │
│ 25  │ FactStrategyPlan │
│ 26  │ NewTable         │
│ 27  │ NovaTabela       │
│ 28  │ sysdiagrams      │

In [40]:
ODBC.execute!(credenciais, "DROP TABLE [dbo].[NovaTabela]")

select = ODBC.query(credenciais,
                      "SELECT 
                           name AS Tables 
                       FROM SYSOBJECTS WHERE XTYPE='U' ORDER BY name"
                   ) |> DataFrame!

27×1 DataFrame
│ Row │ Tables           │
│     │ String⍰          │
├─────┼──────────────────┤
│ 1   │ DimAccount       │
│ 2   │ DimChannel       │
│ 3   │ DimCurrency      │
│ 4   │ DimCustomer      │
│ 5   │ DimDate          │
│ 6   │ DimEmployee      │
│ 7   │ DimEntity        │
│ 8   │ DimGeography     │
│ 9   │ DimMachine       │
│ 10  │ DimOutage        │
⋮
│ 17  │ DimStore         │
│ 18  │ FactExchangeRate │
│ 19  │ FactInventory    │
│ 20  │ FactITMachine    │
│ 21  │ FactITSLA        │
│ 22  │ FactOnlineSales  │
│ 23  │ FactSales        │
│ 24  │ FactSalesQuota   │
│ 25  │ FactStrategyPlan │
│ 26  │ NewTable         │
│ 27  │ sysdiagrams      │

In [41]:
# fechando a conexão com o banco de dados
ODBC.disconnect!(credenciais)